<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/cabecalho.ejs') %>
    <% if (atleta) { %>
        <div>
            Nome: <%= atleta.nome %>
        </div>
        <div>
            Biotipo: <%= atleta.biotipo %>
        </div>
        <div>
            Matrícula: <%= atleta.mat %>
        </div>
        
    <% } else { %>
        <h2>atleta não encontrado</h2>
        <% } %>

        <a href="/atletas" class="btn btn-primary">Voltar</a>
        <%- include("../partials/rodape.ejs") %>
</body>
</html>